@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Chonburi&family=Fredericka+the+Great&family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredericka the Great', sans-serif;
}

.active{
  color: #5F3B3B;
  font-size: 1.1rem;
}

body 
{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
}

li
{
  list-style: none;
}

a
{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: .2s;
}

a:hover
{
  color: #5F3B3B;
  font-size: 1.1rem;
}

header
{
  position: relative;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar
{
  width: 102%;
  height: 60px;
  max-width: 1800px;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a
{
  font-size: 2rem;
  font-weight: bold;
  color: #5F3B3B;
}

.navbar .links
{
  display: flex;
  gap: 2.5rem;
  align-items: center;
  font-weight: bold;
}

.container
{
  width: 100%;
  height: 94.4vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}

.content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.heading{display: inline-block;}
.content h1{
  font-size: 60px;
  color: #5F3B3B;
  margin-bottom: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
      typing 3s ,
      cursor .4s step-end infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes typing{
  from{width: 0;}
}

.content .newanimation{
  font-size: 40px;
  color: #5F3B3B;
  text-align: center;
}

.animation{
  display: inline-block;
  animation: fadeIn 1.5s forwards 3s;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785,0.135,0.15,0.86)
}

.first{
  display: inline-block;
  animation: firstspan 1.5sec forwards  cubic-bezier(0.785,0.135,0.15,0.86);
  z-index: 1;
}

.slide{
  display: inline-flex;
  overflow: hidden;
}

.second{
  z-index: -1;
  display: inline-block;
  animation: secondspan 1.5s forwards 3s cubic-bezier(0.785,0.135,0.15,0.86);
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(1);
  }
  50%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes firstspan{
  0%{
    transform: translateX(50%);
  }
  60%{
    transform: translateX(50%)
  }
  100%{
    transform: translateX(0%)
  }
}

@keyframes secondspan{
  0%{
    transform: translateX(-100%);
  }
  60%{
    transform: translateX(-100%)
  }
  100%{
    transform: translateX(0%)
  }
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9){
  .background-clip{
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ratio:16/9){
  .background-clip{
    width: auto;
    height: 100%;
  }
}

.notecont{display: inline-block;}

.note{
  color: #5F3B3B;
  margin-top: 20px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
      typing2 3s steps(55),
      cursor2 .4s step-end infinite alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes typing2{
  from{width: 0;}
  0%{
    opacity: 0;
  }
  0.1%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}